.register-form {
  width: 468px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 4rem;
  -webkit-box-shadow: 6px 12px 60px rgb(0 0 0 / 20%);
  box-shadow: 6px 12px 60px rgb(0 0 0 / 20%);

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }

  .form-submit-button {
    button {
      width: 20rem;
      padding: 1rem 1.4rem;
      margin: auto;
      background-color: #45A29E
    }
  }

  .form-field-container {
    label {
      color: #666;
    }
  }

  input[type='text'],
  input[type='password'] {
    padding: 0.8rem 1.2rem;
  }
  .register-form-inner {
    width: 100%;
  }
}
.loginback{
  background-image: url('https://techrowth.s3.eu-north-1.amazonaws.com/Rectangle+251.png');
  padding: 15rem;
  background-size: cover;
  background-repeat: no-repeat;


  position: relative;
}
.flex.items-center{
  justify-content: space-between;
}