.banner1{
    background-image: url('https://techrowth.s3.eu-north-1.amazonaws.com/SDV/box_1.png');
    padding: 6rem 2rem 6rem 2rem;
    background-size: cover;
    background-repeat: no-repeat;
  
  
    position: relative;
  }
  .banner11{
    color: white;
    background-color: #45A29E;
  }

  .banner2{
    background-image: url('https://techrowth.s3.eu-north-1.amazonaws.com/SDV/Box_2.png');
    padding: 11rem 2rem 1rem 2rem;
    background-size: cover;
    background-repeat: no-repeat;
  
  
    position: relative;
  }

  .banner3{
    background-image: url('https://techrowth.s3.eu-north-1.amazonaws.com/SDV/Box_3.png');
    padding: 1rem 2rem 11rem 2rem;
    background-size: cover;
    background-repeat: no-repeat;
  
  
    position: relative;
  }